@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f4fb;
  --foreground: #313131;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .prose {
    @apply text-base leading-relaxed;
  }
  .prose h1 {
    @apply text-3xl font-bold mt-6 mb-4;
  }
  .prose h2 {
    @apply text-2xl font-bold mt-5 mb-3;
  }
  .prose h3 {
    @apply text-xl font-bold mt-4 mb-2;
  }
  .prose p {
    @apply mb-4;
  }
  .prose strong {
    @apply font-bold;
  }
  .prose em {
    @apply italic;
  }
  .prose ul {
    @apply list-disc pl-6 mb-4;
  }
  .prose ol {
    @apply list-decimal pl-6 mb-4;
  }
  .prose blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic my-4;
  }
  .prose code {
    @apply bg-gray-100 px-1 py-0.5 rounded text-sm;
  }
}